In [20]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [21]:

import pandas as pd
variable = pd.read_csv('https://www.football-data.co.uk/new/IRL.csv')

In [22]:
variable

,Country,League,Season,Date,Time,Home,Away,HG,AG,Res,PH,PD,PA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
0,Ireland,Premier Division,2012,02/03/2012,19:05,Drogheda,Shamrock Rovers,1,2,A,11.63,5.16,1.34,12.25,5.23,1.36,9.80,4.74,1.30
1,Ireland,Premier Division,2012,02/03/2012,19:45,Derry City,Bohemians,1,0,H,1.86,3.39,5.17,1.86,3.75,6.00,1.73,3.27,5.10
2,Ireland,Premier Division,2012,02/03/2012,19:45,St. Patricks,Bray,1,0,H,1.54,4.21,7.34,1.54,4.50,9.00,1.44,4.06,6.92
3,Ireland,Premier Division,2012,02/03/2012,19:45,UC Dublin,Cork City,1,0,H,4.47,3.65,1.89,4.47,3.65,1.95,4.02,3.31,1.87
4,Ireland,Premier Division,2012,02/03/2012,20:00,Monaghan,Dundalk,0,0,D,2.78,3.10,2.92,3.40,3.25,2.92,2.90,3.05,2.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,Ireland,Premier Division,2022,30/09/2022,19:45,Dundalk,Drogheda,2,0,H,1.62,4.23,5.62,1.65,4.23,5.62,1.61,3.92,5.05
1991,Ireland,Premier Division,2022,30/09/2022,19:45,St. Patricks,Derry City,0,1,A,3.10,3.24,2.53,3.10,3.25,2.53,2.93,3.11,2.43
1992,Ireland,Premier Division,2022,30/09/2022,20:00,Finn Harps,Shelbourne,1,1,D,2.52,3.19,3.15,2.55,3.19,3.15,2.42,3.07,2.99
1993,Ireland,Premier Division,2022,01/10/2022,19:45,Sligo Rovers,Shamrock Rovers,1,3,A,4.63,3.54,1.85,4.80,3.54,1.88,4.37,3.36,1.83
1994,Ireland,Premier Division,2022,03/10/2022,19:45,Shelbourne,St. Patricks,4,4,D,3.37,3.06,2.48,3.50,3.13,2.48,3.25,2.97,2.33